/* body style */

@media (min-width: 340px) {
    body {
        background-image: url('../images/IMG_20220831_072712.jpg');
        background-size: 100%;
        margin: 0px;
    }

    * {
        font-size: 15px;
    }

    /* section1 style */
    .section1 {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: 100%;
    }

    .section1 .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .section1 img {
        width: 60px;
        height: 60px;
    }

    .section1 ul {
        list-style: none;
        margin-left: -40px;
        margin-right: 5px;
        margin-top: 50px;
    }

    .section1 ul li {
        background-color: rgb(17, 17, 247);
        display: inline;
        border: 2px solid black;
        width: 100%;
        margin-top: 50px;
        border-radius: 10px;
        text-align: center;
    }

    .section1 ul li a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    /* allbody style  */

    .allbody {
        justify-content: space-between;
    }


    /* section2 style */

    .section2 {
        border: 2px solid white;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 98%;
    }

    .section2 .section2a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
    }
    .section2 .m{
        width: 50%;
        height: 96%;
        margin: 20px;
        background-size: cover;
        border: 2px solid white;
        border-radius: 20px;
        animation-name: doctor;
        animation-duration: 10s;
        animation-timing-function: inherit;
        animation-iteration-count: infinite;
    }
    @keyframes doctor {
        0%{
            background-image: url('../images/aDSCN6695.jpg');
        }
        15%{
            background-image: url('../images/aqz.jpg');
        }
        30%{
            background-image: url('../images/DSCN6694-Recovered.jpg');
        }
        45%{
            background-image: url('../images/DSCN6\ \ 695.jpg');
        }
        70%{
            background-image: url('../images/IMG_20220831_072712.jpg');
        }
        80%{
            background-image: url('../images/S1510013.jpg');
        }
        100%{
            background-image: url('../images/aDSCN6695.jpg');
        }
        
    }
    .section2 .me h1 {
        color: rgb(0, 225, 255);
        padding-top: 0px;
    }

    .section2 h1 {
        font-size: 30px;
    }

    .section2 .me .h {
        display: flex;
    }

    .section2 .me .h11 {
        color: rgb(17, 17, 247);
        margin-left: 9px;
    }

    /* section3 style  */

    .section3 {
        background-color: transparent;
        border: 2px solid white;
        height: 100%;
        margin-top: 50px;
        color: white;
        width: 98%;
    }

    .section3 h1 {
        text-align: center;
    }

    .section3 p {
        padding: 20px;
    }

    /* section4 style  */
    .allpr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .section4 {
        background-color: transparent;
        border: 2px solid white;
        height: 100%;
        width: 98%;
        margin-top: 50px;
        color: white;
    }

    .section4 .project {
        width: 95%;
        height: 100;
        border: 2px solid white;
        margin: 20px;
    }

    .section4 h1 {
        text-align: center;
    }

    .section4 .project p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }


    .section4 .project img {
        width: 90%;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
        height: 200px;
        border-radius: 10px;

    }

    /* section5 style  */

    .section5 {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        height: 100%;
        margin-top: 50px;
        color: white;
        width: 98%;
    }

    .section5 .b {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .section5 h1 {
        text-align: center;
    }

    .section5 form {
        border: 2px solid white;
        width: 90%;
        height: 100%;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section5 .christian .cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .section5 .christian .cont .tex {
        background-color: transparent;
        margin-top: 20px;
        align-items: center;
        width: 100%;
        height: 40px;
        border-radius: 10px;
    }

    .section5 .christian .cont input {
        background-color: rgb(17, 17, 247);
        width: 25%;
        height: 60px;
        margin-top: 20px;
        border-radius: 5px;
        padding-right: 20px;
        color: white;
        border:  2PX solid white;
    }

    .section5 .christian .cont textarea {
        background-color: transparent;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
        height: 200px;
        color: white;
        border:  2PX solid white;
    }

    ::placeholder {
        color: white;
        padding-left: 30px;
    }

    .section5 .christian .m img {
        margin-top: 10px;
        margin-left: 100px;
        width: 150px;
        border: 2px solid white;
        background-color: white;
        border-radius: 100px;
    }

    footer {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        height: 100%;
        margin-top: 50px;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        width: 90%;
    }

    footer span {
        margin-right: 20px;
        font-size: 50px;
    }


}


@media (min-width: 440px) {
    body {
        background-image: url('../images/IMG_20220831_072712.jpg');
        background-size: 100%;
        margin: 0px;
    }

    * {
        font-size: 25px;
    }

    /* section1 style */
    .section1 {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: 100%;
    }

    .section1 .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .section1 img {
        width: 60px;
        height: 60px;
    }

    .section1 ul {
        list-style: none;
        margin-left: -40px;
        margin-right: 5px;
        margin-top: 50px;
    }

    .section1 ul li {
        background-color: rgb(17, 17, 247);
        display: inline;
        border: 2px solid black;
        width: 100%;
        margin-top: 50px;
        border-radius: 10px;
        text-align: center;
    }

    .section1 ul li a {
        text-decoration: none;
        color: white;
    }

    /* allbody style  */

    .allbody {
        justify-content: space-between;
    }


    /* section2 style */

    .section2 {
        border: 2px solid white;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 98%;
    }

    .section2 .section2a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .section2 .m{
        width: 100%;
        height: 96%;
        margin: 20px;
        background-size: cover;
        border: 2px solid white;
        border-radius: 20px;
        animation-name: doctor;
        animation-duration: 10s;
        animation-timing-function: inherit;
        animation-iteration-count: infinite;
    }
    @keyframes doctor {
        0%{
            background-image: url('../images/aDSCN6695.jpg');
        }
        15%{
            background-image: url('../images/aqz.jpg');
        }
        30%{
            background-image: url('../images/DSCN6694-Recovered.jpg');
        }
        45%{
            background-image: url('../images/DSCN6\ \ 695.jpg');
        }
        70%{
            background-image: url('../images/IMG_20220831_072712.jpg');
        }
        80%{
            background-image: url('../images/S1510013.jpg');
        }
        100%{
            background-image: url('../images/aDSCN6695.jpg');
        }
        
    }
    .section2 .m img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .section2 .me h1 {
        color: rgb(0, 225, 255);
        padding-top: 0px;
    }

    .section2 h1 {
        font-size: 100px;
    }

    .section2 .me .h {
        display: flex;
    }

    .section2 .me .h11 {
        color: rgb(17, 17, 247);
        margin-left: 9px;
    }

    /* section3 style  */

    .section3 {
        background-color: transparent;
        border: 2px solid white;
        height: 100%;
        margin-top: 50px;
        color: white;
        width: 98%;
    }

    .section3 h1 {
        text-align: center;
    }

    .section3 p {
        padding: 20px;
    }

    /* section4 style  */
    .allpr {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .section4 {
        background-color: transparent;
        border: 2px solid white;
        height: 100%;
        width: 98%;
        margin-top: 50px;
        color: white;
    }

    .section4 .project {
        width: 100%;
        height: 100;
        border: 2px solid white;
        margin: 20px;
    }

    .section4 h1 {
        text-align: center;
    }

    .section4 .project p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }


    .section4 .project img {
        width: 90%;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
        height: 200px;
        border-radius: 10px;

    }

    /* section5 style  */

    .section5 {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        height: 100%;
        margin-top: 50px;
        color: white;
        width: 98%;
    }

    .section5 .b {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .section5 h1 {
        text-align: center;
    }

    .section5 form {
        border: 2px solid white;
        width: 90%;
        height: 100%;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section5 .christian .cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .section5 .christian .cont .tex {
        background-color: transparent;
        margin-top: 20px;
        align-items: center;
        width: 100%;
        height: 40px;
        border-radius: 10px;
    }

    .section5 .christian .cont input {
        background-color: rgb(17, 17, 247);
        width: 25%;
        height: 60px;
        margin-top: 20px;
        border-radius: 5px;
        padding-right: 20px;
        color: white;
        border:  2PX solid white;
    }

    .section5 .christian .cont textarea {
        background-color: transparent;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
        height: 200px;
        color: white;
        border:  2PX solid white;
    }

    ::placeholder {
        color: white;
        padding-left: 30px;
    }

    .section5 .christian .m img {
        margin-top: 10px;
        margin-left: 100px;
        width: 150px;
        border: 2px solid white;
        background-color: white;
        border-radius: 100px;
    }

    footer {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        height: 100%;
        margin-top: 50px;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
    }


    footer span {
        margin-right: 20px;
        font-size: 50px;
    }


}

@media (min-width: 840px) {
    body {
        background-image: url('../images/IMG_20220831_072712.jpg');
        background-size: 100%;
        margin: 0px;
    }

    * {
        font-size: 25px;
    }

    /* section1 style */
    .section1 {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 10%;
    }

    .section1 .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .section1 img {
        width: 90px;
        height: 90px;
    }

    .section1 ul {
        list-style: none;
        margin-left: -40px;
        margin-right: 5px;
        margin-top: 50px;
    }

    .section1 ul li {
        background-color: rgb(17, 17, 247);
        display: block;
        border: 2px solid black;
        width: 100%;
        margin-top: 50px;
        border-radius: 10px;
        text-align: center;
    }

    .section1 ul li a {
        text-decoration: none;
        color: white;
    }

    /* allbody style  */

    .allbody {
        margin-left: 12%;
        justify-content: space-between;
    }


    /* section2 style */

    .section2 {
        border: 2px solid white;
        height: 620px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 98%;
    }

    .section2 .section2a {
        width: 100%;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .section2 .m{
        width: 100%;
        height: 96%;
        margin: 20px;
        background-size: cover;
        border: 2px solid white;
        border-radius: 20px;
        animation-name: doctor;
        animation-duration: 10s;
        animation-timing-function: inherit;
        animation-iteration-count: infinite;
    }
    @keyframes doctor {
        0%{
            background-image: url('../images/aDSCN6695.jpg');
        }
        15%{
            background-image: url('../images/aqz.jpg');
        }
        30%{
            background-image: url('../images/DSCN6694-Recovered.jpg');
        }
        45%{
            background-image: url('../images/DSCN6\ \ 695.jpg');
        }
        70%{
            background-image: url('../images/IMG_20220831_072712.jpg');
        }
        80%{
            background-image: url('../images/S1510013.jpg');
        }
        100%{
            background-image: url('../images/aDSCN6695.jpg');
        }
        
    }
    .section2 .m img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .section2 .me h1 {
        color: rgb(0, 225, 255);
        padding-top: 0px;
    }

    .section2 h1 {
        font-size: 120px;
    }

    .section2 .me .h {
        display: flex;
    }

    .section2 .me .h11 {
        color: rgb(17, 17, 247);
        margin-left: 9px;
    }

    /* section3 style  */

    .section3 {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        height: 620px;
        margin-top: 50px;
        color: white;
        width: 98%;
    }

    .section3 h1 {
        text-align: center;
    }

    .section3 p {
        padding: 20px;
    }

    /* section4 style  */
    .allpr {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .section4 {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        height: 100%;
        width: 98%;
        margin-top: 50px;
        color: white;
    }

    .section4 .project {
        width: 30%;
        height: 100%;
        border: 2px solid white;
        margin: 20px;
    }

    .section4 h1 {
        text-align: center;
    }

    .section4 .project p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }


    .section4 .project img {
        width: 90%;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
        height: 200px;
        border-radius: 10px;

    }

    /* section5 style  */

    .section5 {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        height: 620px;
        margin-top: 50px;
        color: white;
        width: 98%;
    }

    .section5 .b {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .section5 h1 {
        text-align: center;
    }

    .section5 form {
        border: 2px solid white;
        width: 90%;
        height: 100%;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section5 .christian .cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .section5 .christian .cont .tex {
        background-color: transparent;
        margin-top: 20px;
        align-items: center;
        width: 100%;
        height: 40px;
        border-radius: 10px;
    }

    .section5 .christian .cont input {
        background-color: rgb(17, 17, 247);
        width: 25%;
        height: 60px;
        margin-top: 20px;
        border-radius: 5px;
        padding-right: 20px;
        color: white;
        border:  2PX solid white;
    }

    .section5 .christian .cont textarea {
        background-color: transparent;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
        height: 200px;
        color: white;
        border:  2px solid white;
    }

    ::placeholder {
        color: white;
        padding-left: 30px;
    }

    .section5 .christian .m img {
        margin-top: 10px;
        margin-left: 100px;
        width: 150px;
        border: 2px solid white;
        background-color: white;
        border-radius: 100px;
    }

    footer {
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        height: 100%;
        margin-top: 50px;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        width: 95%;
    }

    footer span {
        margin-right: 20px;
        font-size: 50px;
    }


}